<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>
				Sie wollen etwas kaufen?
			</h2>
			<p>Lassen Sie sich inspirieren und senden Sie mir einfach eine Email. Oder schauen Sie bei DaWanda vorbei.
			</p>
            <p align="center"><a href="http://de.dawanda.com/shop/Cbarts-Keramik?q=Cbarts" target="_blank"><img src="http://assets.dawanda.com/assets-1wu92mygjti60jybks9/images/logo_dawanda.gif" class="img-rounded"></a></p>
			<p>
				<a class="btn" href="gutschein.html">mehr</a>
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				Eine Auswahl meiner Werke
			</h2>
			<p>Hier finden Sie eine kleine Auswahl meiner Werke. Der größere Teil steht in meinem Atelier, in dem Sie mich gerne nach telefonischer (08807/91857) Rücksprache besuchen können.
			</p>
			<p>
				<a class="btn" href="homeArts.html">mehr Home Arts</a>
                <a class="btn" href="mixedMediaArts.html">mehr Mixed Media Arts</a>
                <a class="btn" href="skulpturen.html">mehr Skulpturen</a>
                <a class="btn" href="wandEngoben.html">mehr Wand-Engoben</a>
			</p>
		</div>
        <div class="col-md-4 column">
			<h2>
				Meine Austellungen
			</h2>
			<p>Vernissage & Austellungen mit Christine Burger seit 2005.<br>N&auml;chste Ausstellung vom 3. Juli bis Sonntag 27. Juli 2014!
			</p>
			<p>
				<a class="btn" href="ausstellungen.html">mehr</a>
			</p>
		</div>
	</div>