<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>
				Sie wollen etwas kaufen?
			</h2>
			<p>Lassen Sie sich inspirieren und senden Sie mir einfach eine Email.
			</p>
			<p>
				<a class="btn" href="gutschein.html">mehr</a>
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				Eine Auswahl meiner Werke
			</h2>
			<p>Hier finden Sie eine kleine Auswahl meiner Werke. Der größere Teil steht in meinem Atelier, in dem Sie mich gerne nach Terminvereinbarung via Email besuchen können.
			</p>
			<p>
				<a class="btn" href="homeArts.html">mehr Home Arts</a>
                <a class="btn" href="mixedMediaArts.html">mehr Mixed Media Arts</a>
                <a class="btn" href="skulpturen.html">mehr Skulpturen</a>
                <a class="btn" href="wandEngoben.html">mehr Wand-Engoben</a>
			</p>
		</div>
        <div class="col-md-4 column">
			<h2>
				Meine Austellungen
			</h2>
			<p>Vernissage & Austellungen mit Christine Burger seit 2005.<br>
        N&auml;chste Ausstellung von 29. Juli - 6. August 2023 im BLAUEN HAUS in Dießen am Ammersee.</p>

             <p align="center">
							 <a href="http://www.kuenstler-stammtisch-raisting.de" target="blank">
								 <img src="img/ausstellungen/ausstellung2023.jpg" width=50% class="img-rounded">
								 </a>
            </p>

                 <p>
				<a class="btn" href="ausstellungen.html">mehr</a>
			</p>
		</div>
	</div>
