body,td,th {
	color: #FFFFFF;
	font-family: Courier New, Courier, mono;
	font-weight: bold;
	font-size: 18px;
}

body {
	background-color: #000066;
	background-image: url();
	margin-left: 50px;
	margin-top: 1%;
	margin-right: 50px;
	margin-bottom: 50px;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

a:link {
	color: #FFFFFF;
}

a:visited {
	color: #CCCCCC;
}
